*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: blanchedalmond;
    color: rgb(80, 78, 78);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;
}

#title{
    font-size: 52px;
    margin-bottom: 2rem;
}

.text{
    align-self: center;
    width: 35%;
}

.text p{
    font-size: 30px;
}

.calculator{
    height: 800px;
    width: 30%;
    background-color: brown;
    border-radius: 10px;
}

#display{
    width:95%;
    height: 70px;
    margin: 15px 10px;
    border-radius: 10px;
    border: none;
    text-align: right;
    font-size: 60px;
}

button{
    border: none;
    box-shadow: 0 3px 0 3px, black;
    box-shadow: 3px 0 3px 0, whitesmoke;
    border-radius: 10px;
    margin: 8px;
    width: 90px;
    height: 90px;
    font-size: 30px;
    background-color: blanchedalmond;
    color: rgb(80, 78, 78);
}

.numbers{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 5px;
}
.container{
    width: fit-content;
}

.number{
    width: 90px;
    height: 90px;

}
.equalPosition{
    display: flex;
    justify-content: space-evenly;
}

.operator{
    font-size: 35px;;
}

.equal{
height: 180px;
width: 90px;
margin-left: 0;
margin-right: 15px;
}